@font-face {
    font-family: "Cascadia";
    src: url(./asets/font.ttf);
}

* {
    font-family: Cascadia;
}

body {
    background: rgb(24, 24, 24)
}

.button {
    border: 4px solid #fff;
    font-size: 36px;
    width: 307px;
    height: 108px;
    display: inline-block;
    outline: none;
    text-align: center;
    text-decoration: none;
    border-radius: 28px;
    transform: translate(-50%, -50%);
    color: #fff;
}

.button.main {
    color: white;
    background: black;
}

.button:hover {
    color: black;
    background: rgb(127, 127, 127);
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 60%;
    background-color: rgb(127, 127, 127);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 3% 1%;
    position: absolute;
    z-index: 1;
    top: -15%;
    left: 52%;
    opacity: 0;
    transition: all 0.5s ease;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgb(127, 127, 127) transparent transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


/* внешний вид меню */
.context-menu {
	/* настройки шрифта */
	/* устанавливаем абсолютное позиционирование */
    position: absolute; 
  /* не показываем меню с самого начала */
    display: none; 
  /* цвет фона и настройки рамки вокруг меню */
    background-color: rgb(24, 24, 24); 
    border: 1px solid #333; 
    padding: 5px;

  /* Добавим тени */
    -moz-box-shadow: 5px 2px 10px rgba(0,0,0,0.5); 
    -webkit-box-shadow: 5px 2px 10px rgba(0,0,0,0.5); 
    box-shadow: 5px 2px 10px rgba(0,0,0,0.5); 
}
/* общий стиль для списка */
.context-menu ul { list-style: none; margin: 0; padding: 0; }

/* стиль отдельных элементов */
.context-menu ul li { margin: 0; padding: 0; background-color: rgb(24, 24, 24); display: block; }

/* стиль ссылок в меню */
.context-menu ul li a { color: #333; text-decoration: none; font-size: 12px; display: block; padding: 5px; }

/* меняем фон в пункте меню при наведении мыши */
.context-menu ul li a:hover { background-color: rgb(24, 24, 24); }